.inner {
  max-width: 800px;
  width: fit-content;
  margin: 10px auto 50px;
}

.question {
  cursor: pointer;
  font-size: 25px;
  text-align: center;
}

.hidden {
  padding: 0 20px;
  border-top: none;
  line-height: 0;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;

  &:global(.active) {
    padding: 5px 0px 20px 0px;
    opacity: 1;
    line-height: 1.5;
  }

  p {
    &:not(:first-of-type) {
      margin-left: 20px;
    }
    font-size: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.btn {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.introduction {
  position: fixed;
  z-index: 5;
  bottom: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  width: 30px;
  height: 50px;
  font-size: 20px;

  &:global(.active) {
    color: #fff;
  }
}
